<table class="table">
  <tbody>
    <tr *ngFor="let a of albumResults" (click)="onSelect(a)">
      <td>{{ a.id }}</td>
      <td>{{ a.title }}</td>
      <td>{{ a.user_id }}</td>
      <td>{{ a._links.self.href }}</td>
      <!-- <td>{{ a.contact.name }}</td> -->
      <!-- <td>
        <a [routerLink]="['/authors/', a.id]">View</a>
      </td> -->
    </tr>
  </tbody>
</table>

<div *ngIf="selectedAlbum">
  <h2>{{ selectedAlbum.title | uppercase }} is my hero</h2>
  <button (click)="gotoDetail()">View Details</button>
  <br />
  <a [routerLink]="['/album/', selectedAlbum.id]">View Details</a>
</div>

<app-album-detail [album]="selectedAlbum"></app-album-detail>
